.button{
	//Button Styles
	padding: 0 0.5em;
	height: 1.50em;
	display: inline-block;
	//Fonts Styles
	font: normal 2.5em/1.5em "Bree Serif", Tahoma, Arial, serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.2em;
	box-sizing: border-box;
	//border radius
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em; 
	border-radius: 0.25em;
	background-color: black;
	color: white;
	cursor: pointer;
	width: 100%;
	&:hover{
		color: #000;
	}
	@media only screen and (max-width: 800px){
		
	}
}

.large{
	margin: 14px auto 0;
	max-width: 700px;
	height: 60px;
	line-height: 1.9em;
	font-size: 2em;
	padding: 0;
	img{
		height: 50px;
		position: absolute;
		margin: 0.15em 0 0 -3em;
	}
	@media only screen and (min-width: 970px) and (max-width: 1280px){
		line-height: 2em;
		font-size: 1.8em;
	}
	@media only screen and (max-width: 960px){
		line-height: 2.6em;
		font-size: 1.4em;
	}
	@media only screen and (max-width: 480px){
		line-height: 3.5em;
		font-size: 1.1em;
	}
}

.medium{
	margin-top: 1.4em;
	max-width: 360px;
	box-shadow: 0em 0.333em 0em #005919; /* 5.33px/16px */
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=4, Color='#005919', Positive='true');
	@media only screen and (max-width: 1400px){
		max-width: 308px;
	}
	@media only screen and (max-width: 1200px){
		max-width: 266px;
	}
	@media only screen and (max-width: 1024px){
		max-width: 220px;
		font-size: 2em;
	}
	@media only screen and (max-width: 960px){
		max-width: 170px;
		font-size: 1.6em;
		margin-top: 3.2em;
	}
	@media only screen and (max-width: 768px){
		max-width: 135px;
		font-size: 1.2em;
		margin-top: 3em;
	}
	@media only screen and (max-width: 480px){
		max-width: 125px;
		margin: 0 0.2em;
	}
}

.small{
	max-width: 220px;
	max-height: 50px;
	font-size: 1em;
}

.green{
	background-color: #009B2D;
	&:hover{
		background-color: #009B2D + #0e0e0e;
	}
}

.orange{
	background: rgb(250,198,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,1)), color-stop(100%,rgba(239,141,49,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
	//Others
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
	&:hover{
		background: rgb(249,185,124); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(249,185,124,1) 0%, rgba(244,150,68,1) 47%, rgba(237,126,23,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,185,124,1)), color-stop(47%,rgba(244,150,68,1)), color-stop(100%,rgba(237,126,23,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b97c', endColorstr='#ed7e17',GradientType=0 ); /* IE6-9 */
	}
}