.main-nav{
	float: right;
	font-size: 1.4em;
	@media only screen and (max-width: 768px){
		margin: 0 auto 0.5em;
	}
	@media only screen and (max-width: 480px){
		float: none;
		margin: 0 1.7em 0.1em;
	}
	//others
	ul li{
		display: inline;
		padding-right: 20px;
		a{
			cursor: pointer;
		}
	}
}