//Imports all of the files into just one
@import "reset", "mixings", "grid", "buttons";

$light-base: #faf6f4;
$base: #352A25;
$base-link: #b84d21;

html,body{
	font-size:16px;
	background-color: $light-base;
	color: $base;
	font-family:  "Fanwood Text", Times, serif;
}

h2{
	font: normal 3.2em/1.1em "Titan One", Tahoma, Arial, serif;
}

p, h3{
	font-size: 1.2em;
	line-height: 1.5em;
	color: lighten($base, 10%);
	text-align: left;
}

h3{
	font-size: 2em;
	line-height: 1.1em;
	margin: 0.2em 0 0.5em;
}

a{
	color: $base-link;
	text-decoration: none;
	&:hover{
		color:$base;
	}
}

sup{
	font-size: 0.6em;
	line-height: 0;
	position: relative;
	top: -0.5em;
	vertical-align: baseline;
}


#refresh-logo{
	background: url('../images/refresh-logo.png') no-repeat;
	background-size: cover;
	width: 393px;
	height: 146px;
	text-indent: -9999px;
}

header.container{
	padding-left: 10em;
}

//Images section
#illustration{
	background: #c64426 url('../images/refresh-nature.png') no-repeat;
	background-size: contain;
	height: 520px;
	text-indent: -9999px;
	z-index: 5;
	//Refresh images
	& .refresh{
	width:100%;
	margin: 0 auto;
	position: absolute;
		&.stage{
			background: url('../images/refresh-stage.png') no-repeat;
			background-size: contain;
			height: 500px;
			text-indent: -9999px;
			z-index: 10;
		}
		&.people{
			background: url('../images/refresh-people.png') repeat-x;
			height: 154px;
			margin: 21em 0 0;
			text-indent: -9999px;
			z-index: 15;
		}
	}
}

.content{
	border-bottom: 10px solid #EEC47A;
}

//iFrame and map holders

#maps{
	height: 400px;
	margin: 0 auto;
	position: relative;
	iframe{
		display: block;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	p{
		background: $light-base;
		text-align:center;
		margin: -19em 0 0 34em;
		padding: 0 20px 20px;
		position: relative;
		width: 30%;
		z-index:15;
		@media only screen and (max-width: 800px){
			margin: -19em 0 0 30em;
		}
		a{
			background: rgb(250,198,149); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,1)), color-stop(100%,rgba(239,141,49,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
			//Others
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
			color: $light-base;
			display: block;
			text-align: center;
			text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			&:hover{
				background: rgb(249,185,124); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(249,185,124,1) 0%, rgba(244,150,68,1) 47%, rgba(237,126,23,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,185,124,1)), color-stop(47%,rgba(244,150,68,1)), color-stop(100%,rgba(237,126,23,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b97c', endColorstr='#ed7e17',GradientType=0 ); /* IE6-9 */
			}
		}
	}
}
