//Mixins
@mixin transform-origin($args){
	-webkit-transform-origin:$args;
	-moz-transform-origin:$args;
	-o-transform-origin:$args;
	-ms-transform-origin:$args;
	transform-origin:$args;
}

@mixin transform($args){
	-webkit-transform:$args;
	-moz-transform:$args;
	-o-transform:$args;
	-ms-transform:$args;
	transform:$args;
}

@mixin box-shadow($args){
	-webkit-box-shadow:$args;
	-moz-box-shadow:$args;
	-o-box-shadow:$args;
	box-shadow:$args;
}

@mixin border-radius($args){
	-webkit-border-radius:$args;
	-moz-border-radius:$args;
	-o-border-radius:$args;
	-ms-border-radius:$args;
	border-radius:$args;
}